.cardParent {
  border: 2px solid var(--main-color);
  border-radius: 12px;
  background: var(--second-color);
}

.cardParent .card-body {
  padding: 10px;
}

.cardParent .card-body .card-header {
  padding: 5px;
}

.cardParent .card-body .card-header .card-title {
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  line-height: 100%;
  margin-bottom: 10px;
  color: var(--main-color);
}

.cards {
  padding: 0 30px;
}

.cards-chart .card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  overflow: hidden;
  animation: fadeInUp 1s ease-out;
}

/*.cards-chart .card:hover {
  transform: translateY(-15px) scale(1.02);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}*/


.cards-chart .card {
  //background: linear-gradient(135deg, #667eea, #764ba2);
  background: var(--main-color);
  color: white;
  animation-delay: 0.2s;
}

/* ------------------ الشارت ------------------ */
.cards-chart {
  padding: 0 30px;
  width: 100%;
}

.cards-chart .card .card-title  {
  color: var(--second-color);
  font-size: 18px;
  font-weight: bold;
}

.chart-container {
  position: relative;
  width: 100%;
  min-height: 600px; /* ارتفاع ثابت مبدئي */
}

.chart-container canvas {
  width: auto !important;
  height: 100% !important;
  display: block; /* يمنع أي فراغات غريبة */
}
