select option:disabled,
select option:first-of-type {
  // أضف للـ placeholder
  color: #ccc !important;
  font-style: italic;
  background-color: #f5f5f5;
}

select:invalid {
  // للـ select نفسه
  color: #999;
}

.btn-remove {
  background: var(--second-color);
  color: var(--main-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 7px;
}

.btn-remove:hover,
.btn-remove:focus,
.btn-remove:active {
  background: var(--second-color);
  color: var(--main-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

select option:disabled {
  color: #ccc;
  font-style: italic;
  background-color: #f5f5f5;
}

/************  table *****************/

.cardParent {
  border: 2px solid var(--main-color);
  border-radius: 12px;
}

.cardParent .card-body {
  padding: 10px;
}

.CustomcardParent {
  background: #eae1e1 !important;
}

.custom-table {
  overflow-x: auto;
}

.custom-table-design {
  border-collapse: separate;
  /* لفصل الصفوف */
  border-spacing: 0 3px;
  /* مسافة بين الصفوف */
  margin: 0;
}

.custom-table-design thead {
  border: none;
}

.custom-table-design thead th {
  background: var(--main-color) !important;
  color: var(--second-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  padding: 15px !important;
  border-right: 2px solid var(--third-color);
}

.custom-table-design tbody tr {
  background: var(--second-color);
  border: 1px solid transparent;
  border-radius: 12px !important;
}

.custom-table-design td {
  font-weight: 800;
  font-size: 15px;
  line-height: 22px;
  color: var(--main-color);
  padding: 10px !important;
  border-right: 2px solid var(--third-color); // خط برتقالي بين العواميد في الجسم
}
