.header h1 {
  font-family: var(--font-arabic) !important;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: var(--main-color);
  position: relative;
}

.header h1::before {
  position: absolute;
  content: "";
  height: 3px;
  background: var(--main-color);
  color: var(--main-color);
  width: 40%;
  top: 13px;
  left: 0;
}

.header h1::after {
  position: absolute;
  content: "";
  height: 3px;
  background: var(--main-color);
  color: var(--main-color);
  width: 40%;
  top: 13px;
  right: 0;
}

.form-group {
  position: relative;
}

.form-control {
  padding: 15px !important;
  border: 2px solid #d9d9d9 !important;
  border-radius: 12px;
}

.form-control::placeholder {
  color: var(--main-color);
  font-family: var(--font-arabic) !important;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.password-toggle {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px;
}

.remember {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-right: 15px;
}

.remember input {
  margin-left: 5px !important;
}

.remember label {
  font-family: var(--font-latin);
  font-weight: 700;
  font-size: 15px;
  color: var(--main-color);
}

.forgetpass {
  padding: 0px 15px;
}

.forgetpass .forgetpassdiv {
  justify-content: flex-end;
}

.forgetpass a {
  font-family: var(--font-latin);
  font-weight: 700;
  font-size: 15px;
  color: var(--main-color);
}

.submit button {
  width: 28%;
  height: 35px;
  border-radius: 8px;
  background: var(--main-color);
  font-family: var(--font-arabic);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var(--second-color);
}

@media (max-width: 992px) {
  .submit button {
    font-size: 14px;
    width: 40%;
  }

  .remember {
    margin-left: -30px;
  }

  .header h1::before {
    width: 30%;
  }

  .header h1::after {
    width: 30%;
  }

  .forgetpass .forgetpassdiv {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .submit button {
    font-size: 13px;
    width: 40%;
  }

  .header h1::before {
    width: 25%;
  }

  .header h1::after {
    width: 25%;
  }
}

@media (max-width: 400px) {
  .header h1::before {
    width: 20%;
  }

  .header h1::after {
    width: 20%;
  }
}
