<div class="container-fluid mt-5 mb-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="row justify-content-between">
        <div class="col-md-4">
          <a routerLink="/all-supplier" class="btn mt-2">جميع الموردين</a>
        </div>
        <div class="col-md-4">
          <a routerLink="/active-supplier" class="btn mt-2">الموردين الناشطين</a>
        </div>
        <div class="col-md-4">
          <a routerLink="/inactive-supplier" class="btn mt-2">الموردين غير الناشطين</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5">
          <a routerLink="/add-supplier" class="btn mt-2">إضافة مورد</a>
        </div>
      </div>
    </div>
  </div>
</div>
