.btn {
  width: 100% !important;
  height: 50px;
  background-color: var(--main-color);
  color: var(--second-color);
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  margin-left: 25px;
}

@media (max-width: 992px) {
  .btn {
    width: 100% !important;
    font-size: 20px;
  }
}
